In [1]:
import numpy as np
import pandas as pd

In [29]:
def gen_data(corr, n):
    # Random normal independent samples
    x = np.random.normal(size=n)
    z = np.random.normal(size=n)
    print(pd.DataFrame({"X": x, "Y": z}).corr(numeric_only=True))
    y = corr * x + np.sqrt(1 - corr ** 2) * z
    dic = { "X": x, "Y": y}
    df = pd.DataFrame(dic)

    return df.corr(numeric_only=True)

In [30]:
gen_data(0.7, 100000)

          X         Y
X  1.000000  0.001206
Y  0.001206  1.000000

          X         Y
X  1.000000  0.699691
Y  0.699691  1.000000